NEXT_PUBLIC_APP_NAME="Veele Services"
NEXT_PUBLIC_APP_URL="http://62.129.138.103"
DATABASE_URL=""
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""
SESSION_SECRET=""
